## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Jamestown,US,42.0970,-79.2353,54.01,78,100,16.11,overcast clouds
1,1,San Jose,US,37.3394,-121.8950,85.10,51,40,10.36,smoke
2,2,Severo-Kurilsk,RU,50.6789,156.1250,50.13,75,14,16.80,few clouds
3,3,Busselton,AU,-33.6500,115.3333,49.80,92,23,8.50,few clouds
4,4,Butaritari,KI,3.0707,172.7902,82.53,73,52,17.92,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,San Jose,US,37.3394,-121.8950,85.10,51,40,10.36,smoke
4,4,Butaritari,KI,3.0707,172.7902,82.53,73,52,17.92,broken clouds
7,7,Caravelas,BR,-17.7125,-39.2481,73.99,84,0,9.24,clear sky
8,8,Bengkulu,ID,-3.8004,102.2655,74.86,89,87,3.80,overcast clouds
10,10,Atuona,PF,-9.8000,-139.0333,77.05,76,1,17.29,clear sky
11,11,Assiniboia,CA,49.6334,-105.9845,73.22,25,73,13.80,broken clouds
13,13,Guerrero Negro,MX,27.9769,-114.0611,86.40,50,7,8.90,clear sky
14,14,Barranca,PE,-10.7500,-77.7667,62.29,79,88,10.71,overcast clouds
15,15,Buraydah,SA,26.3260,43.9750,77.45,18,0,3.09,clear sky
17,17,Shimoda,JP,34.6667,138.9500,69.10,74,13,13.65,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             425
City                   425
Country                424
Lat                    425
Lng                    425
Max Temp               425
Humidity               425
Cloudiness             425
Wind Speed             425
Current Description    425
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,San Jose,US,37.3394,-121.8950,85.10,51,40,10.36,smoke
4,4,Butaritari,KI,3.0707,172.7902,82.53,73,52,17.92,broken clouds
7,7,Caravelas,BR,-17.7125,-39.2481,73.99,84,0,9.24,clear sky
8,8,Bengkulu,ID,-3.8004,102.2655,74.86,89,87,3.80,overcast clouds
10,10,Atuona,PF,-9.8000,-139.0333,77.05,76,1,17.29,clear sky
...,...,...,...,...,...,...,...,...,...,...
689,689,Luau,AO,-10.7073,22.2247,69.40,55,65,0.76,broken clouds
690,690,Buguda,IN,19.8167,84.8000,76.32,90,91,1.68,overcast clouds
692,692,Taraclia,MD,45.9000,28.6689,63.03,81,89,6.80,overcast clouds
695,695,Avera,US,33.1940,-82.5271,78.85,24,69,7.49,broken clouds
696,696,Maningrida,AU,-12.0667,134.2667,78.73,83,86,5.53,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,San Jose,US,85.10,smoke,37.3394,-121.8950,
4,Butaritari,KI,82.53,broken clouds,3.0707,172.7902,
7,Caravelas,BR,73.99,clear sky,-17.7125,-39.2481,
8,Bengkulu,ID,74.86,overcast clouds,-3.8004,102.2655,
10,Atuona,PF,77.05,clear sky,-9.8000,-139.0333,
11,Assiniboia,CA,73.22,broken clouds,49.6334,-105.9845,
13,Guerrero Negro,MX,86.40,clear sky,27.9769,-114.0611,
14,Barranca,PE,62.29,overcast clouds,-10.7500,-77.7667,
15,Buraydah,SA,77.45,clear sky,26.3260,43.9750,
17,Shimoda,JP,69.10,few clouds,34.6667,138.9500,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df[hotel_df["Hotel Name"] != ""]
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,San Jose,US,85.10,smoke,37.3394,-121.8950,The Westin San Jose
4,Butaritari,KI,82.53,broken clouds,3.0707,172.7902,Isles Sunset Lodge
7,Caravelas,BR,73.99,clear sky,-17.7125,-39.2481,Pousada dos Navegantes
8,Bengkulu,ID,74.86,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
10,Atuona,PF,77.05,clear sky,-9.8000,-139.0333,Villa Enata
11,Assiniboia,CA,73.22,broken clouds,49.6334,-105.9845,Canalta Hotel Assiniboia
13,Guerrero Negro,MX,86.40,clear sky,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
14,Barranca,PE,62.29,overcast clouds,-10.7500,-77.7667,El Olivar Hospedaje
15,Buraydah,SA,77.45,clear sky,26.3260,43.9750,Mövenpick Qassim
17,Shimoda,JP,69.10,few clouds,34.6667,138.9500,Shimoda Tokyu Hotel

In [10]:
hotel_df.count()

City                   399
Country                399
Max Temp               399
Current Description    399
Lat                    399
Lng                    399
Hotel Name             399
dtype: int64

In [11]:
# 8a. Create the output File (CSV)
output_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_file)

In [12]:
# 9. Using the template add hotel name, city, country, and the weather description and maximum temperature for the city.
info_box_template = """
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))